
*.pdb
*.xml
*.dll
*.dll
*.config
*.cache
*.txt
*.CopyComplete
CustomiseInspector/.vs/CustomiseInspector/v17/.suo
CustomiseInspector/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
CustomiseInspector/Properties/AssemblyInfo.cs
CustomiseLogixBrowser/.vs/CustomiseLogixBrowser/v17/.suo
CustomiseLogixBrowser/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
CustomiseLogixBrowser/Properties/AssemblyInfo.cs
CustomiseVideoPlayer/.vs/CustomiseVideoPlayer/v17/.suo
CustomiseVideoPlayer/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
CustomiseVideoPlayer/Properties/AssemblyInfo.cs
